body{
 color: #40514E;
 margin: 0px;
 text-align: center;
 font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF; 
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}
.middle-section{
   margin: 100px 0;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    color: #EAF6F6;
}
.bottom-section{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.cloud-top{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 90px;
    top: 80px;
}
.cloud-bottom{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 150px;
    bottom: 350px;
}
.mountain{
    height: 300px;
    width: 300px;
}
.picture{
    height: 130px;
    width: 125px;
    border-radius: 80px;
}
.mid1{
    width: 25%;
    float: left;
    margin-right: 25px;
}
.mid{
    width: 25%;
    border-radius: 50px;
    float: right;
    margin-right: 25px;
}
.skill-row{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.intro{
    width: 40%;
    margin: auto;
}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6  6PX;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.made{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #26ADB1;
    background-image: -webkit-linear-gradient(top, #26ADB1, #16B0A9);
    background-image: -moz-linear-gradient(top, #26ADB1, #16B0A9);
    background-image: -ms-linear-gradient(top, #26ADB1, #16B0A9);
    background-image: -o-linear-gradient(top, #26ADB1, #16B0A9);
    background-image: -webkit-gradient(to bottom, #26ADB1, #16B0A9);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #99C624 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #FFAE00 1px;
    background: #1EAFD0;
    background-image: -webkit-linear-gradient(top, #1EAFD0, #30EAF9);
    background-image: -moz-linear-gradient(top, #1EAFD0, #30EAF9);
    background-image: -ms-linear-gradient(top, #1EAFD0, #30EAF9);
    background-image: -o-linear-gradient(top, #1EAFD0, #30EAF9);
    background-image: -webkit-gradient(to bottom, #1EAFD0, #30EAF9);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }